<!DOCTYPE html>
<html lang="en">
<head>
    <title>FSFE Translation status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
<h1>FSFE Translation Status</h1>
<hr/>
<nav>
    {% for k, v in default_dict.menu%}
        <a href="{{v}}">{{k}}</a>
    {%endfor%}
</nav>
<hr/>
    {% block content %}
    {% endblock %}
<hr/>
<footer>
    Generated on {{default_dict.now.strftime('%Y-%m-%d %H:%M')}}
</footer>
</body>
</html>

