{% extends "base.html.j2" %}
{% block content %}
<table border="1">
    <tr><th>language</th><th>outdated translations</th><th>missing translations</th><th>up to date</th><th>status</th></tr>
    {% for l in languages %}
        <tr>
            <td><a href="{{l.link}}">{{l.name}}</a></td>
            <td>{{l.outdated}}</td>
            <td>{{l.missing}}</td>
            <td>{{l.uptodate}}</td>
            <td style="padding:0px;margin:0px;">
<span style="padding:0px;margin:0px;display: inline-block;height:1em; width:{{150*(l.uptodate/(l.missing+l.uptodate+l.outdated))}}px; background-color:green;"></span><span style="padding:0px;margin:0px;display: inline-block;height:1em; width:{{150*(l.outdated/(l.missing+l.uptodate+l.outdated))}}px; background-color:yellow;"></span><span style="padding:0px;margin:0px;display: inline-block;height:1em; width:{{150*(l.missing/(l.missing+l.uptodate+l.outdated))}}px; background-color:red;"></span>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
