{% extends "base.html.j2" %}
{% block content %}
<h2>Translation status for {{name}}</h2>
<h3>Outdated translations</h3>
<p>The following pages are already translated. However, the original version has been changed since the translation was done, and the translation has not been updated so far to reflect these changes.</p>
<p>Updating these translations is generally considered more urgent than translating new pages.</p>
</p>
<table border="1">
    <tr>
        <th colspan="2">translated file</th>
        <th colspan="3">original file</th>
    </tr>
    {% for l in outdated|sort(attribute='orig_rev')|reverse %}
        <tr>
            <td>{{l.local_name}}</td>
            <td>{{l.local_rev_date}}</td>
            <td>{{l.orig_name}}</td>
            <td>{{l.orig_rev_date}}</td>
            <td><a href="https://trac.fsfe.org/fsfe-web/changeset?old_path={{l.orig_name}}&old={{l.local_rev}}&new_path={{l.orig_name}}&new={{l.orig_rev}}">Diff</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
